
        
            <div id="menucontainer">
                
<div> <!-- menu -->
    <table id="menu">
        <tr>
            <td>
                <p class="menulink">
                    <a href="/host/">DER GASTGEBER</a>
                </p>
            </td>
            <td>
                <p class="menulink {selectedID:'2', url:'/OpeningTime?showActions=True&amp;menuSelectedId=2'}">
                    &#214;FFNUNGSZEITEN
                </p>
            </td>
            <td>
                <p class="menulink {selectedID:'3', url:'/SiteMap?showActions=True&amp;menuSelectedId=3'}">
                
                    LAGEPLAN
                </p>
            </td>
            <td>
                <p class="menulink {selectedID:'4', url:'/Gallery?showActions=True&amp;menuSelectedId=4'}">
                    GALERIE
                </p>
            </td>

            <td>
                <p class="menuLanguageLink">
                    <a href="index3bb1.html?culture=fr-ch&amp;backUrl=%2F">Fr</a>
                </p>
                <p class="menuLanguageLink">
                    <a href="indexe119.html?culture=de-de&amp;backUrl=%2F">De</a>
                </p>
            </td>
        </tr>
    </table>
</div> <!-- menu -->


            </div> <!-- menu container -->