
        
            <div id="menucontainer">
                   
<div> <!-- menu -->
    <table id="menu">
        <tr>
            <td>
                 
                  <a class="menulink underlinemenu" href="/host/">DER GASTGEBER</a>
                 
            </td>
            <td>
                
                  <a class="menulink underlinemenu" href="/openingtime/">&#214;FFNUNGSZEITEN</a>
                
            </td>
            <td>
                
                  <a class="menulink underlinemenu" href="/map/">LAGEPLAN</a>
                    
                 
            </td>
            <td>
                 <!--
                   <a class="menulink underlinemenu" href="/gallery/">GALERIE</a>
                 -->   
               
            </td>

            <td>
                <p class="menuLanguageLink">
                    <a href="index3bb1.html?culture=fr-ch&amp;backUrl=%2F">Fr</a>
                </p>
                <p class="menuLanguageLink">
                    <a href="indexe119.html?culture=de-de&amp;backUrl=%2F">De</a>
                </p>
            </td>
        </tr>
    </table>
    
</div> <!-- menu -->


            </div> <!-- menu container -->