
        
            <div id="menucontainer">
                   
<div> <!-- menu -->
    <table id="menu">
        <tr>
            <td>
       			<ul id="nav">
				
				<% if language_code_of(@item) == 'en' %>
					<li id="nav-host"><a class="underlinemenu" href="/en/host/"><span>YOUR HOST</span></a></li>
					<li id="nav-open"><a class="underlinemenu" href="/en/openingtimes/"><span>OPENING TIMES</span></a></li>
					<li id="nav-map"><a class="underlinemenu" href="/en/map/"><span>FIND US</span></a></li>

				<% elsif language_code_of(@item) == 'de' %>
					<li id="nav-host"><a class="menulink underlinemenu" href="/de/gastgeber/"><span>DER GASTGEBER</span></a></li>
					<li id="nav-open"><a class="menulink underlinemenu" href="/de/oeffnungszeiten/"><span>&Ouml;FFNUNGSZEITEN</span></a></li>
					<li id="nav-map"><a class="menulink underlinemenu" href="/de/lageplan/"><span>LAGEPLAN</span></a></li>
				
				<% elsif language_code_of(@item) == 'fr' %>
					<li id="nav-host"><a class="underlinemenu" href="/fr/votrehote/"><span>VOTRE HOTE</span></a></li>
					<li id="nav-open"><a class="underlinemenu" href="/fr/heuresdouverture/"><span>HEURES D'OUVERTURE</span></a></li>
					<li id="nav-map"><a class="underlinemenu"  href="/fr/plandesituation/"><span>PLAN DE SITUATION</span></a></li>
				<% else %>
							<!-- WARNING: untranslated -->
				<% end %> 

				
				<div id="languages">
				  <% translations_of(@item).each do |t| %>
				    <li id="lang-selection">
				      <% if @item == t %>
				        <span class="active" lang="<%= language_code_of(t) %>">
				          <%= language_name_of(t) %>
				        </span>
				      <% else %>
				        <a href="<%= t.path %>"
				           lang="<%= language_code_of(t) %>"
				           hreflang="<%= language_code_of(t) %>">
				          <%= language_name_of(t) %>
				        </a>
				      <% end %>
				    </li>
				  <% end %>
				  </div> 
				</ul>               
            </td>

        </tr>
    </table>
    
</div> <!-- menu -->


            </div> <!-- menu container -->