---

canonical_identifier: index

---

<ul>
  <% translations_of(@item).each do |t| %>
    <li>
      <% if @item == t %>
        <span class="active" lang="<%= language_code_of(t) %>">
          <%= language_name_of(t) %>
        </span>
      <% else %>
        <a href="<%= t.path %>"
           lang="<%= language_code_of(t) %>"
           hreflang="<%= language_code_of(t) %>">
          <%= language_name_of(t) %>
        </a>
      <% end %>
    </li>
  <% end %>
</ul>

                
<div id="content" class="Welcome">
    HERZLICH<br />WILLKOMMEN
</div>

